<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand primary-color" href="#"><u>Home Passion</u></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a class="dark-primary-color" href="#/">Home</a></li>
                <li><a class="dark-primary-color" href="#/about">About</a></li>
                <li><a class="dark-primary-color" href="#/collections">Collections</a></li>
                <li><a class="dark-primary-color" href="#/contacts" data-toggle="modal" data-target="#myModal">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a class="dark-primary-color" href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
