<div class="row clearfix">
    <div class="col-md-2 column">
    </div>
    <div class="col-md-8 column">
        <h2>{{heading}}</h2>
        <br>
        <div class = "text-justify">
            <div><p>Как семейное предприятие с полуторавековой историей Раш богат традициями производства обоев и является одним из лидеров мировой обойной индустрии.</p>
            Требование времени состоит в умении найти баланс между традицией и современностью. Семейные ценности необходимо сохранить и интегрировать в фирменную культуру, не теряя при этом связи с сегодняшним днем. Широкий ассортимент Раш (более 6000 артикулов) нуждается в четком структурировании внутри товарных групп и делится на 3 сегмента:
            </div>
                <br>
            <div><b>Rasch Taste</b> – современный дизайн и красота в доме
            Декоративные решения для реализации различных стилевых направлений. Актуальная цветовая палитра и классные узоры отлично смотрятся как сами по себе, так и в комбинации друг с другом.
            Доступны в спациализированных магазинах и строительных супермаркетах.
            </div>
                <br>
            <div><b>Rasch Style</b> - изысканный дизайн для индивидуалистов
            Инновативная и умелая реализация модных трендов, от смелых и кричащих до сдержанно элегантных.
            Доступны в авторизированных спациализированных магазинах.
            </div>
                <br>
            <div>Rasch 1861 - уникальный, особенный, искусство в дизайне.
            Обои мануфактурного характера, произведение искусства для Ваших стен.
            Доступны у архитекторов внутренних помещений.
            </div>
                <br>
            Снова и снова нам удается удивлять наших клиентов неожиданным, новым подходом к дизайну обоев и тем самым продолжать развитие марки Rasch. Этому способствует как здоровая интернационализация так и совместные проекты с известными дизайнерами и художниками, которым доставляет удовольствие придать продукту свой индивидуальный почерк.
            </div>
    </div>
    <div class="col-md-2 column">
    </div>
</div>