<carousel-directive></carousel-directive>

<div class="container text-center">
    <h3>Collections</h3><br>
    <div class="row">
        <div class="col-sm-4 ">
            <img class="cosmo1" style="width:100%">
            <p>Current Project</p>
        </div>
        <div class="col-sm-4 ">
            <img class="blackforest" style="width:100%">
            <p>Black Forest</p>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <p>Some text..</p>
            </div>
            <div class="well">
                <p>Some text..</p>
            </div>
        </div>
    </div>
</div><br>